@model BigSchool.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul class="course">
        @foreach (var course in Model.UpcommingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                        @if (Model.ShowAction)
                        {
                            if (Model.Followings.Any(x => x.FolloweeId == course.Lecturer.Id))
                            {
                                <button data-user-id="@course.LecturerId" class="btn btn-default btn-sm js-toggle-follow">Following?</button>
                            }
                            else
                            {
                                <button data-user-id="@course.LecturerId" class="btn btn-default btn-sm js-toggle-follow">Follow?</button>
                            }

                        }
                    </span>
                    <span class="category">
                        @course.Category.Name
                        @if (Model.ShowAction)
                        {
                            if (Model.Attendances.Any(x => x.CourseId == course.Id))
                            {
                                <button data-course-id="@course.Id" class="btn btn-sm btn-info">Going?</button>
                            }
                            else
                            {
                                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                            }
                        }
                    </span>
                </div>

            </li>
        }

    </ul>
</div>

@section scripts{
    <script>
        $(function () {
            $('.js-toggle-attendance').click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { CourseId: button.attr("data-course-id") }).done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                }).fail(function () {
                    alert("Something failed");
                });
            });


            $('.js-toggle-follow').click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { FolloweeId: button.attr("data-user-id") }).done(function () {
                    button
                        .text("Following");
                }).fail(function () {
                    alert("Something failed");
                });
            });
        });
    </script>
}